@import "scss/app";

/*Secciones de la página:
  1.-Seccion Principal
  2.-Skills
  3.-Proyectos
  4.-Awards
  5.-Contacto y Redes Sociales*/



@media only screen and (min-width: 1080px){
  /*Inicio de Seccion Principal*/
  body{
    overflow-x: hidden;
  }
  .hero-section {
    background-color: black;
    height: 70vh;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: right;
  }
  .hero-section .prinimagen{
    width: 70vh;
    height:70vh;
    margin-left: 0vh;
    margin-right: auto;
    -webkit-clip-path: polygon(29% 0, 100% 44%, 100% 100%, 0% 100%);
    clip-path: polygon(29% 0, 100% 44%, 100% 100%, 0% 100%);
  }
  #particles-js{
    height: 70vh;
    width: 100%;
    background: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 0.5;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: right;
  }
  .boton .button{
    color: white;
    position: absolute;
    top: 5vh;
    left: auto;
    right: 5vh;
    width: 17vh;
    height: 7vh;
    opacity: 1;
  }
  .boton .button:hover{
    color: white;
    position: absolute;
    top: 5vh;
    left: auto;
    right: 5vh;
    width: 17vh;
    height: 7vh;
    opacity: 1;
    background-color: #4286f4;
  }
  .logo{
    width: 3rem;
    height:3rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  .hero-section .hero-section-text {
    color: #000000;
    text-shadow: 1px 1px 2px #0a0a0a;
  }
  .hero-section .hero-section-text h1{
    font-size: 7vh;
  }
  .hero-section .hero-section-text h1{
    position: absolute;
    top: 27vh;
    left: auto;
    right: 30vh;
    font-size: 10vh;
  }
  /*Fin de Seccion Principal*/
  /*Inicio de Segunda Seccion: Skills*/
  .Frase1{
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 10vh;
    color: black;
  }
  .Skills{
    margin-top: 20vh;
    margin-right: 0vh;
    color: white;
    border: solid 1px black;
    background: black;
    width: 62vh;
    height: 30vh;
  }
  .seccion2 .grid-container-full{
    background: #f7f7f7;
    height: 70vh;
  }
  .Skills h1{
    margin-left: 6vh;
    margin-right: 0vh;
    margin-top: 0vh;
  }
  .Skills ul li{
    margin-top: 2vh;
    margin-left: 6vh;
  }
  .Frase1 p{
    margin-top: 3vh;
    font-size: 2vh;
  }
  .Frase1 a{
    font-size: 3.5vh;
    color: black;
  }
  /*Fin de la Segunda Seccion*/
  /*Inicio Tercera Sección: Proyectos */
  .Frase2{
    margin-left: 6vh;
    margin-top: 5vh;
    color: white;
  }
  .im{
    position: relative;
    width: 1vh;
    height: 1vh;
    -webkit-opacity: 1;
      -moz-opacity: 1;
      opacity: 1;
    background-color: rgba(0, 0, 0, .9);
    -webkit-transition: all 3s ease;
      -moz-transition: all 3s ease;
      -ms-transition: all 3s ease;
      -o-transition: all 3s ease;
      transition: all 3s ease
  }
  .im p{
    padding-bottom: 0px;
    padding-top: 34vh;
    padding-left: 1vh;
    color: white;
    font-size: 4vh;
    position: absolute;
  }
  #cs{
    margin-right: auto;
    margin-left: auto;
    height: 40vh;
    width:30vh;
  }
  .ima{
    padding-bottom: 0px;
    padding-top: 34vh;
    padding-left: 1vh;
    color: white;
    font-size: 4vh;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .im:hover .imagen{
    transition: all .5s ease;
    background-color: rgba(0, 0, 0, 1);
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    opacity: .5;
  }
  .im .imagen{
    transition: all .5s ease-out;
    background-color: rgba(0, 0, 0, 1);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .im:hover .button{
    transition: all .5s ease;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .im .button{
    transition: all .5s ease-out;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    opacity: .5;
  }
  .im:hover .button p{
    transition: all .5s ease-out;
    -webkit-opacity: 1;
      -moz-opacity: 1;
      filter: alpha(opacity=100);
    opacity: 1;
  }
  .im .button p{
    transition: all .5s ease-out;
    -webkit-opacity: 0;
      -moz-opacity: 0;
      filter: alpha(opacity=0);
    opacity: 0;
  }
  .im .button{
     height: 35vh;
     width: 5vh;
     margin-left:23vh;
     margin-top: -3vh;
     position: absolute;
     opacity:.5;
     z-index: 1000;
  }
  .im .button:hover{
    background-color: red;
  }
  .im .button p{
    margin-left: -24.2vh;
    margin-top: -3vh;
    width: 15vh;
    color: white;
    text-align: center;
    font-size: 2vh;
    transform: rotate(-90deg);
    opacity: 0;
  }
  .im p{
    text-shadow: 1px 1px 2px #0a0a0a;
  }
  .Proyectos p{
    padding-bottom: 0px;
    padding-top: 30vh;
    font-size: 6vh;
  }
  /*Fin de la Tercera seccion*/
  /*Inicio Cuarta Seccion: Awards*/
  t{
    font-size: 5vh;
    color: black;
    font-weight: bold;
    margin-left: 13vh;

  }
  /*Fin de la Cuarta Seccion*/
}

@media only screen and (max-width: 700px){
  /*Inicio de Seccion Principal*/
  body{
    overflow-x: hidden;
    max-width: 100%;
    min-width: 100%;
    position: absolute;
    height: auto;
    width: 60%;
    padding: 0px;
    margin: 0px;
  }
  .hero-section {
    background-color: black;
    height: 70vh;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: right;
  }
  .hero-section .prinimagen{
    width: 70vh;
    height:70vh;
    margin-left: 0vh;
    margin-right: auto;
    visibility: hidden;
    display: none;
    -webkit-clip-path: polygon(29% 0, 100% 44%, 100% 100%, 0% 100%);
    clip-path: polygon(29% 0, 100% 44%, 100% 100%, 0% 100%);
  }
  #particles-js{
    height: 70vh;
    width: 100%;
    background: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 0.5;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: right;
  }
  .boton .button{
    color: white;
    position: absolute;
    top: 5vh;
    left: auto;
    right: 5vh;
    width: 18vh;
    height: 8vh;
    opacity: 1;
  }
  .boton .button:hover{
    color: white;
    position: absolute;
    top: 5vh;
    left: auto;
    right: 5vh;
    width: 18vh;
    height: 8vh;
    opacity: 1;
    background-color: #4286f4;
  }
  .hero-section .hero-section-text {
    color: #000000;
    text-shadow: 1px 1px 2px #0a0a0a;
  }
  .hero-section .hero-section-text h1{
    margin-left: 2vh;
    font-size: 7vh;
    position: absolute;
    top: 27vh;
    left: auto;
    right: 2.5vh;
    font-size: 10vh;
  }
  /*Fin de Seccion Principal*/
  /*Inicio de Segunda Seccion: Skills*/
  .seccion2 .grid-container-full{
    background: #f7f7f7;
    height: 160vh;
  }
  .Frase1{
    width: 200%;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 10vh;
    color: black;
  }
  .Skills{
    margin-top: 140vh;
    margin-left: -30vh;
    margin-right: auto;
    color: white;
    border: solid 1px black;
    background: black;
    width: 226%;
    height: 34vh;
  }
  .Skills h1{
    margin-left: 6vh;
    margin-right: 0vh;
    margin-top: 3vh;
  }
  .Skills ul li{
    margin-top: 2vh;
    margin-left: 6vh;
  }
  .Frase1 p{
    margin-top: 3vh;
    font-size: 2vh;
    font-family: 'Montserrat';
  }
  .Frase1 a{
    font-size: 3.5vh;
    color: black;
    font-family: 'Montserrat';
  }
  .Frase1 h5{
    width: 40vh;
    text-align: justify;
    color: black;
    font-family: 'Montserrat';
  }
  /*Fin de la Segunda Seccion*/
  /*Inicio Tercera Sección: Proyectos */
  .container{
    margin-top: 0px;
    width: 101%;
  }
  #cs{
    margin-left: -2vh;
    margin-top: -15vh;
    width: 225%;
  }
  .Frase2{
    margin-left: 6vh;
    margin-top: 5vh;
    color: white;
  }
  .im{
    position: relative;
    width: 1vh;
    height: 1vh;
    -webkit-opacity: 1;
      -moz-opacity: 1;
      opacity: 1;
    background-color: rgba(0, 0, 0, .9);
    -webkit-transition: all 3s ease;
      -moz-transition: all 3s ease;
      -ms-transition: all 3s ease;
      -o-transition: all 3s ease;
      transition: all 3s ease
  }
  .im p{
    padding-bottom: 0px;
    padding-top: 34vh;
    padding-left: 1vh;
    color: white;
    font-size: 4vh;
    position: absolute;
  }
  .ima{
    padding-bottom: 0px;
    padding-top: 34vh;
    padding-left: 3vh;
    font-family: 'Montserrat';
    color: white;
    font-size: 6vh;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .im:hover .imagen{
    transition: all .5s ease;
    background-color: rgba(0, 0, 0, 1);
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    opacity: .5;
  }
  .im .imagen{
    transition: all .5s ease-out;
    background-color: rgba(0, 0, 0, 1);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .im:hover .button{
    transition: all .5s ease;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .im .button{
    transition: all .5s ease-out;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    opacity: .5;
  }
  .im:hover .button p{
    transition: all .5s ease-out;
    -webkit-opacity: 1;
      -moz-opacity: 1;
      filter: alpha(opacity=100);
    opacity: 1;
  }
  .im .button p{
    transition: all .5s ease-out;
    -webkit-opacity: 0;
      -moz-opacity: 0;
      filter: alpha(opacity=0);
    opacity: 0;
  }
  .im .button{
     height: 35vh;
     width: 5vh;
     margin-left:23vh;
     margin-top: -3vh;
     position: absolute;
     opacity:.5;
     z-index: 1000;
  }
  .im .button:hover{
    background-color: red;
  }
  .im .button p{
    margin-left: -24.2vh;
    margin-top: -3vh;
    width: 15vh;
    color: white;
    text-align: center;
    font-size: 2vh;
    transform: rotate(-90deg);
    opacity: 0;
  }
  .im p{
    text-shadow: 1px 1px 2px #0a0a0a;
  }
  .Proyectos p{
    padding-bottom: 0px;
    padding-top: 30vh;
    font-size: 6vh;
  }
  .proy{
    margin-top:25vh;
  }
  .imagen1{
    margin-left: -16vh;
    position: relative;
    width: 1vh;
    height: 1vh;
  }
  /*Fin de la Tercera seccion*/
  /*Inicio Cuarta Seccion: Awards*/
  t{
    font-size: 5vh;
    font-family: 'Julius Sans One';
    color: black;
    font-weight: bold;
    margin-left: 13vh;

  }
  .t{
    font-size: 5vh;
    font-family: 'Julius Sans One';
    color: black;
    font-weight: bold;

  }
  p{
    font-family: 'Julius Sans One', sans-serif;
  }
  h4{
    font-family: 'Julius Sans One', sans-serif;
  }
  /*Fin de la Cuarta Seccion*/
  .divs{
    visibility: hidden;
    display: none;
  }
  .Tercera{
    margin-top: 35vh;
  }

}
