.seccion2 .fondo{
  background: black;
  height: 100vh;
  position: absolute;
  margin-top: 90vh;
  width: 100%;
  z-index: 100;
}
.seccion2 .fondo .top1{
  background: white;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  -webkit-clip-path: polygon(0% 0, 50% 30%, 100% 0%);
  clip-path: polygon(0% 0, 50% 30%, 100% 0%);
}
.seccion2 .fondo .top1 a p{
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 4vw;
  font-size: 2.5vw;
  font-family: Quicksand;
}
.seccion2 .fondo .right1{
  background: #2B59C3;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  -webkit-clip-path: polygon(0% 0, 50% 30%, 50% 100%, 0% 100%);
  clip-path: polygon(0% 0, 50% 30%, 50% 100%, 0% 100%);
}
.seccion2 .fondo .left1{
  background: #253C78;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  -webkit-clip-path: polygon(100% 0, 50% 30%, 50% 100%, 100% 100%);
  clip-path: polygon(100% 0, 50% 30%, 50% 100%, 100% 100%);
}
.seccion2 li{
  color: white;
  font-size: 2rem;
  margin-left: 13vw;

}
.seccion2 .seccion21{
  background: #111130;
  height: 86vh;
  position: absolute;
  margin-top: 190vh;
  width: 100%;
  z-index: 100;
}
.seccion2 .seccion21 .Fondo .mid{
  background: #7D11A0;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-clip-path: polygon(0% 80%, 0% 100%, 100% 100%, 100% 0%);
  clip-path: polygon(0% 80%, 0% 100%, 100% 100%, 100% 0%);
}
.seccion2 .seccion21 .Fondo .triangle{
  background: white;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-clip-path: polygon(0% 100%, 50% 70%, 100% 100%);
  clip-path: polygon(0% 100%, 50% 70%, 100% 100%);
}

#uno{
  margin-top: -70vh;
  clear: both;
  float: right;
}
#margen{
  margin-left: 20vh;
}

.divs{
  position: absolute;
  z-index: 1002;
}

.rellax{
  position: absolute;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}
.navbar{
  position: fixed;
  z-index: 1;
  height: 4rem;
  background: rgba(0,0,0,1);
  width: 100%;
}
.navbar .boton .button{
  margin-top: 0vh;
  margin-right: 0vh;

}
.navbar .secciones{
  top: 2vh;
  margin-left: 2vw;
  color: white;
  font-family: Quicksand;
  margin-top: 15vw;
  text-align: center;
  position: relative;
}

.prinimagen{
  max-width: 120%;
  max-height: 120%;
  width: auto;
  height: auto;

}

.skill{
  margin-top: 8vw;
  margin-left: 10vw;
  font-size: 3rem;
  font-family: Quicksand;
  color: white;
}

#Titulo4{
  text-align: center;
  font-family: Quicksand;
  margin-bottom: 9vw;
}

.nombre{
  margin-top: 32vh;
}

p{
  color: white;
  font-family: Quicksand;
}

#unica{
  margin-top: 150vh;
}

.seccion{
  width: 100%;
  height: 10vh;
}
