
/*Resoluciones de Pantalla/Tabletas*/

@media only screen and (device-width:1024px) and (device-height: 1366px) and (orientation: portrait) {
  /*Inicio de Seccion Principal*/
  body {
    overflow-x: hidden;
    max-width: 100%;
    min-width: 100%;
    position: absolute;
    height: auto;
    width: 60%;
    padding: 0px;
    margin: 0px;
  }
  .hero-section {
    background-color: black;
    height: 70vh;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: right;
  }
  .hero-section .prinimagen {
    width: 60vh;
    height: 60vh;
    margin-left: -19vh;
    z-index: 0;
    margin-right: auto;
    -webkit-clip-path: polygon(25% 0, 59% 9%, 79% 36%, 79% 70%, 59% 92%, 26% 100%);
    clip-path: polygon(25% 0, 59% 9%, 79% 36%, 79% 70%, 59% 92%, 26% 100%);
  }
  #particles-js {
    height: 70vh;
    width: 100%;
    background: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 0.5;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: right;
  }
  .boton .button {
    color: white;
    position: absolute;
    top: 5vh;
    left: auto;
    right: 5vh;
    font-size: 2rem;
    width: 20vh;
    height: 9vh;
    opacity: 1;
  }
  .boton .button:hover {
    color: white;
    position: absolute;
    top: 5vh;
    left: auto;
    right: 5vh;
    font-size: 2rem;
    width: 20vh;
    height: 9vh;
    opacity: 1;
    background-color: #4286f4;
  }
  .hero-section .hero-section-text {
    color: #000000;
    text-shadow: 1px 1px 2px #0a0a0a;
  }
  .hero-section .hero-section-text h1 {
    font-size: 5.5rem;
    position: absolute;
    z-index: 1;
    top: 32vh;
    left: 9vh;
    right: 3vh;
  }
  /*Fin de Seccion Principal*/
  /*Inicio de Segunda Seccion: Skills*/
  .seccion2 .grid-container-full {
    background: #f7f7f7;
    height: 160vh;
  }
  .Frase1 {
    width: 200%;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 10vh;
    color: black;
  }
  .Skills {
    margin-top: 103vh;
    margin-left: -52vh;
    margin-right: auto;
    color: white;
    border: solid 1px black;
    background: black;
    width: 340%;
    height: 50vh;
  }
  .Skills h1 {
    margin-left: 6vh;
    margin-right: 0vh;
    font-size: 4rem;
    margin-top: 3vh;
  }
  .Skills ul li {
    margin-top: 2vh;
    margin-left: 6vh;
    font-size: 2rem;
  }
  .Frase1 p {
    margin-top: 3vh;
    width: 52rem;
    margin-right: 7vh;
    font-size: 2vh;
    font-family: 'Montserrat';
  }
  .Frase1 a {
    font-size: 3rem;
    width: 10vh;
    color: black;
    font-family: 'Montserrat';
  }
  .Frase1 h5 {
    font-size: 2rem;
    width: 52rem;
    text-align: justify;
    color: black;
    font-family: 'Montserrat';
  }
  /*Fin de la Segunda Seccion*/
  /*Inicio Tercera Sección: Proyectos */
  .container {
    margin-top: 17vh;
    width: 110%;
  }
  #cs {
    margin-left: -2vh;
    margin-top: -32vh;
    width: 206%;
    height: 100%;
    background: url("../img/tacom.png") no-repeat center top;
    background-size: cover;
  }
  .Frase2 {
    margin-left: 6vh;
    margin-top: 5vh;
    color: white;
  }
  .ima {
    padding-bottom: 0px;
    padding-top: 34vh;
    padding-left: 3vh;
    font-family: 'Montserrat';
    color: white;
    font-size: 6vh;
    height: 100%;
    width: 125%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .im {
    position: relative;
    width: .5vh;
    margin-top: -7vh;
    margin-left: 0vh;
    height: .5vh;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    background-color: rgba(0, 0, 0, .9);
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease
  }
  .im p, .im1 p, .im2 p, .im3 p {
    padding-bottom: 0px;
    padding-top: 34vh;
    padding-left: 1vh;
    color: white;
    font-size: 4vh;
    position: absolute;
  }
  .im:hover .imagen, .im1:hover .imagen, .im2:hover .imagen, .im3:hover .imagen {
    transition: all .5s ease;
    background-color: rgba(0, 0, 0, 1);
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    opacity: .5;
  }
  .im .imagen, .im1 .imagen, .im2 .imagen, .im3 .imagen {
    transition: all .5s ease-out;
    background-color: rgba(0, 0, 0, 1);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .im:hover .button, .im1:hover .button, .im2:hover .button, .im3:hover .button {
    transition: all .5s ease;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .im .button, .im1 .button, .im2 .button, .im3 .button {
    transition: all .5s ease-out;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    opacity: .5;
  }
  .im:hover .button p, .im1:hover .button p, .im2:hover .button p, .im3:hover .button p {
    transition: all .5s ease-out;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .im .button p, .im1 .button p, .im2 .button p, .im3 .button p {
    transition: all .5s ease-out;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  .im .button, .im1 .button, .im2 .button, .im3 .button {
    height: 35vh;
    width: 5vh;
    margin-left: 23vh;
    margin-top: -3vh;
    position: absolute;
    opacity: .5;
    z-index: 1000;
  }
  .im .button:hover, .im1 .button:hover, .im2 .button:hover, .im3 .button:hover {
    background-color: red;
  }
  .im .button p, .im1 .button p, .im2 .button p, .im3 .button p {
    margin-left: -25.8vh;
    margin-top: -3vh;
    width: 20vh;
    color: white;
    text-align: center;
    font-size: 2vh;
    transform: rotate(-90deg);
    opacity: 0;
  }
  .im p, .im1 p, .im2 p, .im3 p {
    text-shadow: 1px 1px 2px #0a0a0a;
  }
  .im1 {
    position: relative;
    width: .5vh;
    margin-left: 0vh;
    margin-top: -6.5vh;
    height: .5vh;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    background-color: rgba(0, 0, 0, .9);
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease
  }
  .im2 {
    position: relative;
    width: .5vh;
    margin-top: -4vh;
    margin-left: 0vh;
    height: .5vh;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    background-color: rgba(0, 0, 0, .9);
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease
  }
  .im3 {
    position: relative;
    width: .5vh;
    margin-top: -12vh;
    margin-left: -1vh;
    height: .5vh;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    background-color: rgba(0, 0, 0, .9);
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease
  }
  .Proyectos p {
    padding-bottom: 0px;
    padding-top: 30vh;
    font-size: 6vh;
  }
  .proy {
    margin-top: -5vh;
  }
  .imagen1 {
    margin-left: -16vh;
    position: relative;
    width: 1vh;
    height: 1vh;
  }
  /*Fin de la Tercera seccion*/
  /*Inicio Cuarta Seccion: Awards*/
  p {
    font-family: 'Julius Sans One', sans-serif;
  }
  h4 {
    font-family: 'Julius Sans One', sans-serif;
  }
  /*Fin de la Cuarta Seccion*/
  .divs {
    visibility: hidden;
    display: none;
  }
  .Tercera {
    margin-top: 20vh;
  }
  .cell c {
    margin-top: -100vh;
  }
  /*Fin de la Tercera seccion*/
  .Tercera .cell .t {
    font-size: 3.5rem;
    color: black;
    font-weight: bold;
    margin-left: 0vh;
  }
  .cell a {
    margin-left: auto;
    margin-right: auto;
    margin-top: -1vh;
  }
  .cell b {
    margin-left: 17%;
    margin-right: 83%;
    margin-top: -1vh;
  }
  .Tercera .cell h4 {
    font-weight: bold;
    font-size: 2rem;
    color: black;
    text-align: center;
  }
  .Tercera .cell p {
    color: black;
    text-align: center;
    font-size: 1.5rem;
  }
  .DP {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("../img/posada.jpg") no-repeat right top;
    background-size: cover;
  }
  .Tercera .grid-container-full {
    background: white;
    height: 60vh;
    margin-top: -40vh;
  }
  .MTV .pulse {
    weight: 9rem;
    height: 9rem;
    margin-top: 0rem;
    margin-left: 0.5rem;
  }
  .Tercera #MTV h4 {
    font-weight: bold;
    font-size: 2rem;
    color: black;
    margin-top: 3rem;
    text-align: center;
  }
}

@media only screen and (device-width:768px) and (device-height:1024px) and (orientation: portrait) {
  /*Inicio de Seccion Principal*/
  body {
    overflow-x: hidden;
    max-width: 100%;
    min-width: 100%;
    position: absolute;
    height: auto;
    width: 60%;
    padding: 0px;
    margin: 0px;
  }
  .hero-section {
    background-color: black;
    height: 70vh;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: right;
  }
  .hero-section .prinimagen {
    width: 60vh;
    height: 60vh;
    margin-left: -19vh;
    z-index: 0;
    margin-right: auto;
    -webkit-clip-path: polygon(25% 0, 59% 9%, 79% 36%, 79% 70%, 59% 92%, 26% 100%);
    clip-path: polygon(25% 0, 59% 9%, 79% 36%, 79% 70%, 59% 92%, 26% 100%);
  }
  #particles-js {
    height: 70vh;
    width: 100%;
    background: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 0.5;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: right;
  }
  .boton .button {
    color: white;
    position: absolute;
    top: 5vh;
    left: auto;
    right: 5vh;
    font-size: 1.5rem;
    width: 20vh;
    height: 9vh;
    opacity: 1;
  }
  .boton .button:hover {
    color: white;
    position: absolute;
    top: 5vh;
    left: auto;
    right: 5vh;
    font-size: 1.5rem;
    width: 20vh;
    height: 9vh;
    opacity: 1;
    background-color: #4286f4;
  }
  .hero-section .hero-section-text {
    color: #000000;
    text-shadow: 1px 1px 2px #0a0a0a;
  }
  .hero-section .hero-section-text h1 {
    font-size: 4rem;
    position: absolute;
    z-index: 1;
    top: 32vh;
    left: 9vh;
    right: 3vh;
  }
  /*Fin de Seccion Principal*/
  /*Inicio de Segunda Seccion: Skills*/
  .seccion2 .grid-container-full {
    background: #f7f7f7;
    height: 160vh;
  }
  .Frase1 {
    width: 200%;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 10vh;
    color: black;
  }
  .Skills {
    margin-top: 103vh;
    margin-left: -40vh;
    margin-right: auto;
    color: white;
    border: solid 1px black;
    background: black;
    width: 240%;
    height: 50vh;
  }
  .Skills h1 {
    margin-left: 6vh;
    margin-right: 0vh;
    margin-top: 3vh;
    font-size: 3rem;
  }
  .Skills ul li {
    margin-top: 2vh;
    margin-left: 6vh;
    font-size: 1.5rem;
  }
  .Frase1 p {
    margin-top: 3vh;
    margin-right: 7vh;
    width: 40rem;
    font-size: 2vh;
    font-family: 'Montserrat';
  }
  .Frase1 a {
    font-size: 2rem;
    width: 10vh;
    color: black;
    font-family: 'Montserrat';
  }
  .Frase1 h5 {
    font-size: 1.5rem;
    width: 40rem;
    text-align: justify;
    color: black;
    font-family: 'Montserrat';
  }
  /*Fin de la Segunda Seccion*/
  /*Inicio Tercera Sección: Proyectos */
  .container {
    margin-top: 17vh;
    width: 110%;
  }
  #cs {
    margin-left: -2vh;
    margin-top: -32vh;
    width: 206%;
    height: 100%;
    background: url("../img/tacom.png") no-repeat center top;
    background-size: cover;
  }
  .Frase2 {
    margin-left: 6vh;
    margin-top: 5vh;
    color: white;
  }
  .ima {
    padding-bottom: 0px;
    padding-top: 34vh;
    padding-left: 3vh;
    font-family: 'Montserrat';
    color: white;
    font-size: 6vh;
    height: 100%;
    width: 125%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .im {
    position: relative;
    width: .5vh;
    margin-top: -7vh;
    margin-left: 0vh;
    height: .5vh;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    background-color: rgba(0, 0, 0, .9);
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease
  }
  .im p, .im1 p, .im2 p, .im3 p {
    padding-bottom: 0px;
    padding-top: 34vh;
    padding-left: 1vh;
    color: white;
    font-size: 4vh;
    position: absolute;
  }
  .im:hover .imagen, .im1:hover .imagen, .im2:hover .imagen, .im3:hover .imagen {
    transition: all .5s ease;
    background-color: rgba(0, 0, 0, 1);
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    opacity: .5;
  }
  .im .imagen, .im1 .imagen, .im2 .imagen, .im3 .imagen {
    transition: all .5s ease-out;
    background-color: rgba(0, 0, 0, 1);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .im:hover .button, .im1:hover .button, .im2:hover .button, .im3:hover .button {
    transition: all .5s ease;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .im .button, .im1 .button, .im2 .button, .im3 .button {
    transition: all .5s ease-out;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    opacity: .5;
  }
  .im:hover .button p, .im1:hover .button p, .im2:hover .button p, .im3:hover .button p {
    transition: all .5s ease-out;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .im .button p, .im1 .button p, .im2 .button p, .im3 .button p {
    transition: all .5s ease-out;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  .im .button, .im1 .button, .im2 .button, .im3 .button {
    height: 35vh;
    width: 5vh;
    margin-left: 23vh;
    margin-top: -3vh;
    position: absolute;
    opacity: .5;
    z-index: 1000;
  }
  .im .button:hover, .im1 .button:hover, .im2 .button:hover, .im3 .button:hover {
    background-color: red;
  }
  .im .button p, .im1 .button p, .im2 .button p, .im3 .button p {
    margin-left: -25.8vh;
    margin-top: -3vh;
    width: 20vh;
    color: white;
    text-align: center;
    font-size: 2vh;
    transform: rotate(-90deg);
    opacity: 0;
  }
  .im p, .im1 p, .im2 p, .im3 p {
    text-shadow: 1px 1px 2px #0a0a0a;
  }
  .im1 {
    position: relative;
    width: .5vh;
    margin-left: 0vh;
    margin-top: -6.5vh;
    height: .5vh;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    background-color: rgba(0, 0, 0, .9);
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease
  }
  .im2 {
    position: relative;
    width: .5vh;
    margin-top: -4vh;
    margin-left: 0vh;
    height: .5vh;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    background-color: rgba(0, 0, 0, .9);
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease
  }
  .im3 {
    position: relative;
    width: .5vh;
    margin-top: -12vh;
    margin-left: -1vh;
    height: .5vh;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    background-color: rgba(0, 0, 0, .9);
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease
  }
  .Proyectos p {
    padding-bottom: 0px;
    padding-top: 30vh;
    font-size: 6vh;
  }
  .proy {
    margin-top: -5vh;
  }
  .imagen1 {
    margin-left: -16vh;
    position: relative;
    width: 1vh;
    height: 1vh;
  }
  /*Fin de la Tercera seccion*/
  /*Inicio Cuarta Seccion: Awards*/
  .t {
    font-size: 5vh;
    font-family: 'Julius Sans One';
    color: black;
    font-weight: bold;
    text-align: center;
  }
  p {
    font-family: 'Julius Sans One', sans-serif;
  }
  h4 {
    font-family: 'Julius Sans One', sans-serif;
  }
  /*Fin de la Cuarta Seccion*/
  .divs {
    visibility: hidden;
    display: none;
  }
  .Tercera {
    margin-top: 20vh;
  }
  .cell c {
    margin-top: -100vh;
  }
  /*Fin de la Tercera seccion*/
  .Tercera .cell .t {
    font-size: 3rem;
    color: black;
    font-weight: bold;
    margin-left: 0vh;
  }
  .cell a {
    margin-left: auto;
    margin-right: auto;
    margin-top: -1vh;
  }
  .cell b {
    margin-left: 17%;
    margin-right: 83%;
    margin-top: -1vh;
  }
  .Tercera .cell h4 {
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    text-align: center;
  }
  .Tercera .cell p {
    color: black;
    text-align: center;
    font-size: 1rem;
  }
  .DP {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("../img/posada.jpg") no-repeat right top;
  }
  .Tercera .grid-container-full {
    background: white;
    height: 60vh;
    margin-top: -40vh;
  }
  .MTV .pulse {
    weight: 8rem;
    height: 8rem;
    margin-top: 0rem;
    margin-left: -0.5rem;
  }
  .Tercera #MTV h4 {
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    margin-top: .5rem;
    text-align: center;
  }
}
